<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   
    <script src="/assets/js/app.js" type="text/javascript"></script>
    <title>Burger Time</title>
</head>
<body>
    <button id="dan">Click</button>
    {{{body}}}
    
</body>
</html>