<div>

    <h2>Uneaten Burgers</h2>

    <ul>
        {{#each burger}}
        {{#unless this.devoured}}   
        <p>{{id}}. {{burger_name}}</p>
        {{/unless}}
        {{/each}}
    </ul>

</div>


<div>
    <h2>Consumed Burgers</h2>
    <ul>
        {{#each burger}}
        {{#if this.devoured}}
        <p>{{burger_name}}</p>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div>
    <h2>Create a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="name">Burger Name:</label>
            <input type="text" id="name" name="name">
        </div>

        <button id="createButton" type="submit">Create Burger</button>
    </form>
</div>